/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playfair+Display&display=swap');
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EBF0FF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFEFFB; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4B5842; 
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #FFEFFB;
    color: #4B5842;
    padding: 16px;
    font-size: 22px;
    border: none;
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
    font-family: "Playfair Display", Helvetica, sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFEFFB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #4B5842;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #EBF0FF;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #EBF0FF;}


body{
    text-align: center;
    font-size: 22px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    background-color: #EBF0FF;
    margin: 0;
    padding: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}


.logo{
    width: 100px;
    padding: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

header{
    background-color: #FFEFFB;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
}

nav a:hover{
    background-color: #EBF0FF;
}

.title{
    font-family: "Patrick Hand", Helvetica, sans-serif;
    color: #4B5842;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.pics{
    border: 10px solid #FFEFFB;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #FFEFFB;
}


footer{
    background-color: #FFEFFB;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer h3{
    color: #4B5842;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #4B5842;;
    text-decoration: none;
}

footer a:hover{
    color: #CAD8FF;
}

footer .social img{
    padding-top: 15px;
    width: 40px;
    padding-right: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 30%;
    }
}



/*                                                       HOMEPAGE                                                */





.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 10%;
}

#hero-img{
    width:100%;
}

#welcomeTitle{
    grid-row: 1;
    grid-column: 6/9;
}


.welcome{
    grid-row: 2;
    grid-column: 1/14;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -8%;
}

.prices{
    margin-top: 10%;
    margin-bottom: 5%;
}

#prices
img{
    width: 100%;
}

#prices{
    margin-bottom: 3%;
}

.prices-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 10%;
}


#pricesTitle{
    margin-top: 10%;
    grid-row: 1;
    grid-column: 1/14;
}

#unis{
    grid-row: 2;
    grid-column: 2;
}

#chiné{
    grid-row: 2;
    grid-column: 4;
}

#multis{
    grid-row: 2;
    grid-column: 6;
}




/*                                                       Unis                                                */





.product-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 10%;
}

#product-title{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 1/14;
}

#products
img{
    width: 100%;
}

#bleuCiel{
    grid-row: 2;
    grid-column: 2;
}

#bleuCielImg:hover{
    content: url(./images/unis/bleuCielV.JPG);
    width: 100%;
}

#bleuClair{
    grid-row: 2;
    grid-column: 4;
}

#bleuClairImg:hover{
    content: url(./images/unis/bleuClairV.JPG);
    width: 100%;
}

#bleuJeans{
    grid-row: 2;
    grid-column: 6;
}

#bleuJeansImg:hover{
    content: url(./images/unis/bleuJeansV.JPG);
    width: 100%;
}

#bleuLéger{
    grid-row: 2;
    grid-column: 8;
}

#bleuLégerImg:hover{
    content: url(./images/unis/bleuLégerV.JPG);
    width: 100%;
}

#purple{
    grid-row: 3;
    grid-column: 2;
}

#red{
    grid-row: 3;
    grid-column: 4;
}

#rbwBlue{
    grid-row: 3;
    grid-column: 6;
}

#rbwRed{
    grid-row: 3;
    grid-column: 8;
}

/*                                                      Chiné                                                       */ 

#product-title{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 1/14;
}

#darkBlue{
    grid-row: 2;
    grid-column: 2;

}

#lightBlue{
    grid-row: 2;
    grid-column: 4;
}

#mix{
    grid-row: 2;
    grid-column: 6;
}

#pink{
    grid-row: 2;
    grid-column: 8;
}

#purple{
    grid-row: 3;
    grid-column: 2;
}

#red{
    grid-row: 3;
    grid-column: 4;
}

#rbwBlue{
    grid-row: 3;
    grid-column: 6;
}

#rbwRed{
    grid-row: 3;
    grid-column: 8;
}
/*                                                      REST                                                        */ 





.testimony{
    margin-left: 15%;
    margin-right: 15%;
}

#faq{
    margin-bottom: -15%;
}

#about_us, 
#faq,
#contact_us{
    margin-left: 15%;
    margin-right: 15%;
}

#about_us img{
    margin-top: 5%;
    margin-bottom: 15%;
}

#testimonials
img{
    margin-top: 13%;
    margin-bottom: 2%;
    width: 50%;
}

#testimonials{
    margin-bottom: -15%;
}

