/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playfair+Display&display=swap');
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EBF0FF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFEFFB; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4B5842; 
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }


  /* Dropdown Button */
.dropbtn {
    background-color: #FFEFFB;
    color: #4B5842;
    padding: 16px;
    font-size: 22px;
    border: none;
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
    font-family: "Playfair Display", Helvetica, sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFEFFB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #4B5842;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #EBF0FF;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #EBF0FF;}


body{
    text-align: center;
    font-size: 22px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    background-color: #EBF0FF;
    margin: 0;
    padding: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}


.logo{
    width: 100px;
    padding: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

header{
    background-color: #FFEFFB;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
}

nav a:hover{
    background-color: #EBF0FF;
}

.title{
    font-family: "Patrick Hand", Helvetica, sans-serif;
    color: #4B5842;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.pics{
    border: 10px solid #FFEFFB;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #FFEFFB;
}

footer{
    background-color: #FFEFFB;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: #4B5842;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #4B5842;;
    text-decoration: none;
}

footer a:hover{
    color: #CAD8FF;
}

footer .social img{
    padding-top: 15px;
    width: 40px;
    padding-right: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 30%;
    }
}



/*                                                       HOMEPAGE                                                */





.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 10%;
}

#hero-img{
    width:100%;
}

#welcomeTitle{
    grid-row: 1;
    grid-column: 6/9;
}


.welcome{
    grid-row: 2;
    grid-column: 1/14;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -8%;
}

.prices{
    margin-top: 10%;
    margin-bottom: 5%;
}

#prices
img{
    width: 100%;
}

#prices{
    margin-bottom: 3%;
}

.prices-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 10%;
}


#pricesTitle{
    margin-top: 10%;
    grid-row: 1;
    grid-column: 1/14;
}

#unis{
    grid-row: 2;
    grid-column: 2;
}

#chiné{
    grid-row: 2;
    grid-column: 4;
}

#multis{
    grid-row: 2;
    grid-column: 6;
}




/*                                                       Unis                                                */





.product-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 3%;
}

#product-title{
    margin-top: 5%;
}

.product-text{
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 1/14;
}

#emballe
img{
    width: 30%;
}

.vendu-text{
    margin-top: -5%;
    margin-left: 20%;
    margin-right: 20%;
    grid-row: 2;
    grid-column: 1/14;
}

#unis-text{
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 1/14;
}

#products-unis
img{
    width: 100%;
}

#products-unis{
    padding-bottom: 40%;
}

#BleuBaker{
    grid-row: 3;
    grid-column: 2;
}

#BleuBakerImg:hover{
    content: url(./images/unis/bleuBakerV.JPG);
    width: 100%;
}

#BleuSoutenu{
    grid-row: 3;
    grid-column: 4;
}

#BleuSoutenuImg:hover{
    content: url(./images/unis/bleuSoutenuV.JPG);
    width: 100%;
}

#BleuMoyen{
    grid-row: 3;
    grid-column: 6;
}

#BleuMoyenImg:hover{
    content: url(./images/unis/bleuMoyenV.JPG);
    width: 100%;
}

#bleuCiel{
    grid-row: 3;
    grid-column: 8;
}

#bleuCielImg:hover{
    content: url(./images/unis/bleuCielV.JPG);
    width: 100%;
}

#bleuLeger{
    grid-row: 4;
    grid-column: 2;
}

#bleuLegerImg:hover{
    content: url(./images/unis/bleuLegerV.JPG);
    width: 100%;
}

#vertMenthe{
    grid-row: 4;
    grid-column: 4;
}

#vertMentheImg:hover{
    content: url(./images/unis/vertMentheV.JPG);
    width: 100%;
}

#turquoise{
    grid-row: 4;
    grid-column: 6;
}

#turquoiseImg:hover{
    content: url(./images/unis/turquoiseV.JPG);
    width: 100%;
}

#turquoiseLeoban{
    grid-row: 4;
    grid-column: 8;
}

#turquoiseLeobanImg:hover{
    content: url(./images/unis/turquoiseLeobanV.JPG);
    width: 100%;
}

#vertClair{
    grid-row: 5;
    grid-column: 2;
}

#vertClairImg:hover{
    content: url(./images/unis/vertClairV.JPG);
    width: 100%;
}

#lime{
    grid-row: 5;
    grid-column: 4;
}

#limeImg:hover{
    content: url(./images/unis/limeV.JPG);
    width: 100%;
}

#vert{
    grid-row: 5;
    grid-column: 6;
}

#vertImg:hover{
    content: url(./images/unis/vertV.JPG);
    width: 100%;
}

#vertDiane{
    grid-row: 5;
    grid-column: 8;
}

#vertDianeImg:hover{
    content: url(./images/unis/vertDianeV.JPG);
    width: 100%;
}

#poussin{
    grid-row: 6;
    grid-column: 2;
}

#poussinImg:hover{
    content: url(./images/unis/poussinV.JPG);
    width: 100%;
}

#poussinette{
    grid-row: 6;
    grid-column: 4;
}

#poussinetteImg:hover{
    content: url(./images/unis/poussinetteV.JPG);
    width: 100%;
}

#yoke{
    grid-row: 6;
    grid-column: 6;
}

#yokeImg:hover{
    content: url(./images/unis/yokeV.JPG);
    width: 100%;
}

#moutarde{
    grid-row: 6;
    grid-column: 8;
}

#moutardeImg:hover{
    content: url(./images/unis/moutardeV.JPG);
    width: 100%;
}

#dutchy{
    grid-row: 7;
    grid-column: 2;
}

#dutchyImg:hover{
    content: url(./images/unis/dutchyV.JPG);
    width: 100%;
}

#saumon{
    grid-row: 7;
    grid-column: 4;
}

#saumonImg:hover{
    content: url(./images/unis/saumonV.JPG);
    width: 100%;
}

#roseCorail{
    grid-row: 7;
    grid-column: 6;
}

#roseCorailImg:hover{
    content: url(./images/unis/roseCorailV.JPG);
    width: 100%;
}

#roseAria{
    grid-row: 7;
    grid-column: 8;
}

#roseAriaImg:hover{
    content: url(./images/unis/roseAriaV.JPG);
    width: 100%;
}

#roseSoutenu{
    grid-row: 8;
    grid-column: 2;
}

#roseSoutenuImg:hover{
    content: url(./images/unis/roseSoutenuV.JPG);
    width: 100%;
}

#roseMia{
    grid-row: 8;
    grid-column: 4;
}

#roseMiaImg:hover{
    content: url(./images/unis/roseMiaV.JPG);
    width: 100%;
}

#roseBonbon{
    grid-row: 8;
    grid-column: 6;
}

#roseBonbonImg:hover{
    content: url(./images/unis/roseBonbonV.JPG);
    width: 100%;
}

#vieuxRose{
    grid-row: 8;
    grid-column: 8;
}

#vieuxRoseImg:hover{
    content: url(./images/unis/vieuxRoseV.JPG);
    width: 100%;
}

#rose{
    grid-row: 9;
    grid-column: 2;
}

#roseImg:hover{
    content: url(./images/unis/roseV.JPG);
    width: 100%;
}

#roseChloe{
    grid-row: 9;
    grid-column: 4;
}

#roseChloeImg:hover{
    content: url(./images/unis/roseChloeV.JPG);
    width: 100%;
}

#mauveClair{
    grid-row: 9;
    grid-column: 6;
}

#mauveClairImg:hover{
    content: url(./images/unis/mauveClairV.JPG);
    width: 100%;
}

#lavande{
    grid-row: 9;
    grid-column: 8;
}

#lavandeImg:hover{
    content: url(./images/unis/lavandeV.JPG);
    width: 100%;
}









/*                                                      Chiné                                                       */ 


.chines-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 5%;
}

#products-chines
img{
    width: 100%;
}

#product-title{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 1/14;
}

#products-chines{
    padding-bottom: 25%;
}

#bleuClairMelange{
    grid-row: 3;
    grid-column: 2;
}

#bleuClairMelangeImg:hover{
    content: url(./images/chines/bleuClairMelangeV.JPG);
    width: 100%;
}

#bleuChaussette{
    grid-row: 3;
    grid-column: 4;
}

#bleuChaussetteImg:hover{
    content: url(./images/chines/bleuChaussetteV.JPG);
    width: 100%;
}

#bleuChine{
    grid-row: 3;
    grid-column: 6;
}

#bleuChineImg:hover{
    content: url(./images/chines/bleuChineV.JPG);
    width: 100%;
}

#bleuMelange{
    grid-row: 3;
    grid-column: 8;
}

#bleuMelangeImg:hover{
    content: url(./images/chines/bleuMelangeV.JPG);
    width: 100%;
}

#turquoiseChine{
    grid-row: 4;
    grid-column: 2;
}

#turquoiseChineImg:hover{
    content: url(./images/chines/turquoiseChineV.JPG);
    width: 100%;
}

#limetteChine{
    grid-row: 4;
    grid-column: 4;
}

#limetteChineImg:hover{
    content: url(./images/chines/limetteChineV.JPG);
    width: 100%;
}

#jauneChine{
    grid-row: 4;
    grid-column: 6;
}

#jauneChineImg:hover{
    content: url(./images/chines/jauneChineV.JPG);
    width: 100%;
}

#orangeChine{
    grid-row: 4;
    grid-column: 8;
}

#orangeChineImg:hover{
    content: url(./images/chines/orangeChineV.JPG);
    width: 100%;
}

#fuego{
    grid-row: 5;
    grid-column: 2;
}

#fuegoImg:hover{
    content: url(./images/chines/fuegoV.JPG);
    width: 100%;
}

#rougeRose{
    grid-row: 5;
    grid-column: 4;
}

#rougeRoseImg:hover{
    content: url(./images/chines/rougeRoseV.JPG);
    width: 100%;
}

#roseMelange{
    grid-row: 5;
    grid-column: 6;
}

#roseMelangeImg:hover{
    content: url(./images/chines/roseMelangeV.JPG);
    width: 100%;
}

#roseLutine{
    grid-row: 5;
    grid-column: 8;
}

#roseLutineImg:hover{
    content: url(./images/chines/roseLutineV.JPG);
    width: 100%;
}

#pinkMelange{
    grid-row: 6;
    grid-column: 2;
}

#pinkMelangeImg:hover{
    content: url(./images/chines/pinkMelangeV.JPG);
    width: 100%;
}

#violetChine{
    grid-row: 6;
    grid-column: 4;
}

#violetChineImg:hover{
    content: url(./images/chines/violetChineV.JPG);
    width: 100%;
}

#VioletMelange{
    grid-row: 6;
    grid-column: 6;
}

#VioletMelangeImg:hover{
    content: url(./images/chines/violetMelangeV.JPG);
    width: 100%;
}

#mauveMelange{
    grid-row: 6;
    grid-column: 8;
}

#mauveMelangeImg:hover{
    content: url(./images/chines/mauveMelangeV.JPG);
    width: 100%;
}





/*                                                      Multicolores                                                       */ 



.multis-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 9%;
}

#products-multis
img{
    width: 100%;
}

#product-title{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 1/14;
}

#products-multis{
    padding-bottom: 15%;
}

#soleil{
    grid-row: 3;
    grid-column: 2;
}

#soleilImg:hover{
    content: url(./images/multis/soleilV.JPG);
    width: 100%;
}

#bleuAugustin{
    grid-row: 3;
    grid-column: 4;
}

#bleuAugustinImg:hover{
    content: url(./images/multis/bleuAugustinV.JPG);
    width: 100%;
}

#rainbowBleu{
    grid-row: 3;
    grid-column: 6;
}

#rainbowBleuImg:hover{
    content: url(./images/multis/rainbowBleuV.JPG);
    width: 100%;
}

#rainbowVert{
    grid-row: 3;
    grid-column: 8;
}

#rainbowVertImg:hover{
    content: url(./images/multis/rainbowVertV.JPG);
    width: 100%;
}

#rainbowJaune{
    grid-row: 4;
    grid-column: 2;
}

#rainbowJauneImg:hover{
    content: url(./images/multis/rainbowJauneV.JPG);
    width: 100%;
}

#rainbowOrange{
    grid-row: 4;
    grid-column: 4;
}

#rainbowOrangeImg:hover{
    content: url(./images/multis/rainbowOrangeV.JPG);
    width: 100%;
}

#rainbowRouge{
    grid-row: 4;
    grid-column: 6;
}

#rainbowRougeImg:hover{
    content: url(./images/multis/rainbowRougeV.JPG);
    width: 100%;
}

#rainbowViolet{
    grid-row: 4;
    grid-column: 8;
}

#rainbowVioletImg:hover{
    content: url(./images/multis/rainbowVioletV.JPG);
    width: 100%;
}

/*                                                      NOUS CONTACTER                                                        */ 

.form{
    box-sizing: border-box;
    line-height: 1.5;
}

.form-text{
    margin-left: 20%;
    margin-right: 20%;
}

.form_label{
    font-weight: 600;
}

.form_input{
    -webkit-appearance: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
    max-width: 425px;
    font-size: 0.9em;
    text-align: center;
    font-family: "Playfair Display", Helvetica, sans-serif;
    outline: none;
    border: 1px solid #4B5842;
    border-radius: 4px;
    background: #f9f9f9 ;
}

.form_input:focus{
    background: #ffffff;
}

.form_input::placeholder{
    text-align: center;
}

textarea#form_autre {
    min-height: 100px;
}

textarea.form_input {
    text-align: left;
    resize: none;
    min-height: 200px;
}

.form_button{
    font-family: "Playfair Display", Helvetica, sans-serif;
    font-size: .9em;
    padding: 10px 16px;
    margin-top: 20px;
    background: #FFEFFB;
    border: 1px solid #4B5842;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/*                                                      ABOUT US                                                        */ 


.about_us{
    margin-right: 20%;
    margin-left: 20%;
}


/*                                                      ABOUT US                                                        */ 

.testimony{
    margin-left: 15%;
    margin-right: 15%;
}

#faq{
    margin-bottom: 0%;
}
 
#faq{
    margin-left: 20%;
    margin-right: 20%;
}

#testimonials
img{
    margin-top: 13%;
    margin-bottom: 2%;
    width: 50%;
}

#testimonials{
    margin-bottom: -15%;
}

