/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playfair+Display&display=swap');
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EBF0FF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFEFFB; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4B5842; 
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #FFEFFB;
    color: #4B5842;
    padding: 16px;
    font-size: 22px;
    border: none;
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
    font-family: "Playfair Display", Helvetica, sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFEFFB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #4B5842;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #EBF0FF;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #EBF0FF;}


body{
    text-align: center;
    font-size: 22px;
    font-family: "Playfair Display", Helvetica, sans-serif;
    background-color: #EBF0FF;
    margin: 0;
    padding: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}


.logo{
    width: 100px;
    padding: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

header{
    background-color: #FFEFFB;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #4B5842;
    text-decoration: none;
    padding: 40px;
}

nav a:hover{
    background-color: #EBF0FF;
}

.title{
    font-family: "Patrick Hand", Helvetica, sans-serif;
    color: #4B5842;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.pics{
    border: 10px solid #FFEFFB;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #FFEFFB;
}

footer{
    background-color: #FFEFFB;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: #4B5842;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #4B5842;;
    text-decoration: none;
}

footer a:hover{
    color: #CAD8FF;
}

footer .social img{
    padding-top: 15px;
    width: 40px;
    padding-right: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 30%;
    }
}



/*                                                       HOMEPAGE                                                */





.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 10%;
}

#hero-img{
    width:100%;
}

#welcomeTitle{
    grid-row: 1;
    grid-column: 6/9;
}


.welcome{
    grid-row: 2;
    grid-column: 1/14;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -8%;
}

.prices{
    margin-top: 10%;
    margin-bottom: 5%;
}

#prices
img{
    width: 100%;
}

#prices{
    margin-bottom: 3%;
}

.prices-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 10%;
}


#pricesTitle{
    margin-top: 10%;
    grid-row: 1;
    grid-column: 1/14;
}

#unis{
    grid-row: 2;
    grid-column: 2;
}

#chiné{
    grid-row: 2;
    grid-column: 4;
}

#multis{
    grid-row: 2;
    grid-column: 6;
}




/*                                                       Unis                                                */





.product-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: auto;
    row-gap: 3%;
}

#product-title{
    margin-top: 5%;
}

.product-text{
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 1/14;
}

#emballe
img{
    width: 30%;
}

.vendu-text{
    margin-top: -5%;
    margin-left: 20%;
    margin-right: 20%;
    grid-row: 2;
    grid-column: 1/14;
}

#unis-text{
    margin-left: 20%;
    margin-right: 20%;
    grid-column: 1/14;
}

#products-unis
img{
    width: 100%;
}

#products-unis{
    padding-bottom: 80%;
}

#bleuCiel{
    grid-row: 3;
    grid-column: 2;
}

#bleuCielImg:hover{
    content: url(./images/unis/bleuCielV.JPG);
    width: 100%;
}

#bleuClair{
    grid-row: 3;
    grid-column: 4;
}

#bleuClairImg:hover{
    content: url(./images/unis/bleuClairV.JPG);
    width: 100%;
}

#bleuJeans{
    grid-row: 3;
    grid-column: 6;
}

#bleuJeansImg:hover{
    content: url(./images/unis/bleuJeansV.JPG);
    width: 100%;
}

#bleuLeger{
    grid-row: 3;
    grid-column: 8;
}

#bleuLegerImg:hover{
    content: url(./images/unis/bleuLegerV.JPG);
    width: 100%;
}

#BleuMoyen{
    grid-row: 4;
    grid-column: 2;
}

#BleuMoyenImg:hover{
    content: url(./images/unis/bleuMoyenV.JPG);
    width: 100%;
}

#BleuSoutenu{
    grid-row: 4;
    grid-column: 4;
}

#BleuSoutenuImg:hover{
    content: url(./images/unis/bleuSoutenu1V.JPG);
    width: 100%;
}

#BleuSoutenu2{
    grid-row: 4;
    grid-column: 6;
}

#BleuSoutenu2Img:hover{
    content: url(./images/unis/bleuSoutenu2V.JPG);
    width: 100%;
}

#dutchy{
    grid-row: 4;
    grid-column: 8;
}

#dutchyImg:hover{
    content: url(./images/unis/dutchyV.JPG);
    width: 100%;
}

#jaunePoussin{
    grid-row: 5;
    grid-column: 2;
}

#jaunePoussinImg:hover{
    content: url(./images/unis/jaunePoussinV.JPG);
    width: 100%;
}

#lavande{
    grid-row: 5;
    grid-column: 4;
}

#lavandeImg:hover{
    content: url(./images/unis/lavandeV.JPG);
    width: 100%;
}

#lime{
    grid-row: 5;
    grid-column: 6;
}

#limeImg:hover{
    content: url(./images/unis/limeV.JPG);
    width: 100%;
}

#limette{
    grid-row: 5;
    grid-column: 8;
}

#limetteImg:hover{
    content: url(./images/unis/limetteV.JPG);
    width: 100%;
}

#mauveClair{
    grid-row: 6;
    grid-column: 2;
}

#mauveClairImg:hover{
    content: url(./images/unis/mauveClairV.JPG);
    width: 100%;
}

#mauvePale{
    grid-row: 6;
    grid-column: 4;
}

#mauvePaleImg:hover{
    content: url(./images/unis/mauvePaleV.JPG);
    width: 100%;
}

#moutarde{
    grid-row: 6;
    grid-column: 6;
}

#moutardeImg:hover{
    content: url(./images/unis/moutardeV.JPG);
    width: 100%;
}

#poussin{
    grid-row: 6;
    grid-column: 8;
}

#poussinImg:hover{
    content: url(./images/unis/poussinV.JPG);
    width: 100%;
}

#poussinette{
    grid-row: 7;
    grid-column: 2;
}

#poussinetteImg:hover{
    content: url(./images/unis/poussinetteV.JPG);
    width: 100%;
}

#roseAria{
    grid-row: 7;
    grid-column: 4;
}

#roseAriaImg:hover{
    content: url(./images/unis/roseAriaV.JPG);
    width: 100%;
}

#roseBonbon{
    grid-row: 7;
    grid-column: 6;
}

#roseBonbonImg:hover{
    content: url(./images/unis/roseBonbonV.JPG);
    width: 100%;
}

#roseChloe{
    grid-row: 7;
    grid-column: 8;
}

#roseChloeImg:hover{
    content: url(./images/unis/roseChloeV.JPG);
    width: 100%;
}

#roseCorail{
    grid-row: 8;
    grid-column: 2;
}

#roseCorailImg:hover{
    content: url(./images/unis/roseCorailV.JPG);
    width: 100%;
}

#rose{
    grid-row: 8;
    grid-column: 4;
}

#roseImg:hover{
    content: url(./images/unis/roseV.JPG);
    width: 100%;
}

#rosedelave{
    grid-row: 8;
    grid-column: 6;
}

#rosedelaveImg:hover{
    content: url(./images/unis/rosedelaveV.JPG);
    width: 100%;
}

#roseFuschia{
    grid-row: 8;
    grid-column: 8;
}

#roseFuschiaImg:hover{
    content: url(./images/unis/roseFuschiaV.JPG);
    width: 100%;
}

#rosePasse{
    grid-row: 9;
    grid-column: 2;
}

#rosePasseImg:hover{
    content: url(./images/unis/rosePasseV.JPG);
    width: 100%;
}

#roseSoutenu1{
    grid-row: 9;
    grid-column: 4;
}

#roseSoutenu1Img:hover{
    content: url(./images/unis/roseSoutenu1V.JPG);
    width: 100%;
}

#roseSoutenu2{
    grid-row: 9;
    grid-column: 6;
}

#roseSoutenu2Img:hover{
    content: url(./images/unis/roseSoutenu2V.JPG);
    width: 100%;
}

#roseStandard{
    grid-row: 9;
    grid-column: 8;
}

#roseStandardImg:hover{
    content: url(./images/unis/roseStandardV.JPG);
    width: 100%;
}

#saumon{
    grid-row: 10;
    grid-column: 2;
}

#saumonImg:hover{
    content: url(./images/unis/saumonV.JPG);
    width: 100%;
}

#taupe{
    grid-row: 10;
    grid-column: 4;
}

#taupeImg:hover{
    content: url(./images/unis/taupeV.JPG);
    width: 100%;
}

#turquoise{
    grid-row: 10;
    grid-column: 6;
}

#turquoiseImg:hover{
    content: url(./images/unis/turquoiseV.JPG);
    width: 100%;
}

#turquoiseLeoban{
    grid-row: 10;
    grid-column: 8;
}

#turquoiseLeobanImg:hover{
    content: url(./images/unis/turquoiseLeobanV.JPG);
    width: 100%;
}

#vert{
    grid-row: 11;
    grid-column: 2;
}

#vertImg:hover{
    content: url(./images/unis/vertV.JPG);
    width: 100%;
}

#vertArmy{
    grid-row: 11;
    grid-column: 4;
}

#vertArmyImg:hover{
    content: url(./images/unis/vertArmyV.JPG);
    width: 100%;
}

#vertClair1{
    grid-row: 11;
    grid-column: 6;
}

#vertClair1Img:hover{
    content: url(./images/unis/vertClair1V.JPG);
    width: 100%;
}

#vertClair2{
    grid-row: 11;
    grid-column: 8;
}

#vertClair2Img:hover{
    content: url(./images/unis/vertClair2V.JPG);
    width: 100%;
}

#vertDiane{
    grid-row: 12;
    grid-column: 2;
}

#vertDianeImg:hover{
    content: url(./images/unis/vertDianeV.JPG);
    width: 100%;
}

#vertMenthe{
    grid-row: 12;
    grid-column: 4;
}

#vertMentheImg:hover{
    content: url(./images/unis/vertMentheV.JPG);
    width: 100%;
}

#vieuxRose{
    grid-row: 12;
    grid-column: 6;
}

#vieuxRoseImg:hover{
    content: url(./images/unis/vieuxRoseV.JPG);
    width: 100%;
}

#yoke{
    grid-row: 12;
    grid-column: 8;
}

#yokeImg:hover{
    content: url(./images/unis/yokeV.JPG);
    width: 100%;
}









/*                                                      Chiné                                                       */ 


#product-title{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 1/14;
}


/*                                                      REST                                                        */ 





.testimony{
    margin-left: 15%;
    margin-right: 15%;
}

#faq{
    margin-bottom: -15%;
}

#about_us, 
#faq,
#contact_us{
    margin-left: 15%;
    margin-right: 15%;
}

#about_us img{
    margin-top: 5%;
    margin-bottom: 15%;
}

#testimonials
img{
    margin-top: 13%;
    margin-bottom: 2%;
    width: 50%;
}

#testimonials{
    margin-bottom: -15%;
}

